
/*набор утилит*/
/*<div id="" class=""></div>*/
/*шрифты*/
.Tools_txt_font_simple ,body{font-family: 'Arial';}
/*https://www.behance.net/gallery/85559961/KOYSANFree-Font*/
.Tools_txt_font_1{font-family: 'KOYSAN';}
/*
готические шрифты:
    https://www.canva.com/ru_ru/obuchenie/goticheskij-shrift/
русские шрифты:
    https://www.canva.com/ru_ru/obuchenie/luchshie-shrifty/
*/
.Tools_txt_font_2{font-family: '';}
.Tools_txt_font_3{font-family: '';}
.Tools_txt_font_4{font-family: '';}
.Tools_txt_font_5{font-family: '';}
.Tools_txt_font_6{font-family: '';}
.Tools_txt_font_7{font-family: '';}

/*размеры текста*/
.Tools_txt_size_60{font-size: 60px;}
.Tools_txt_size_50{font-size: 50px;}
.Tools_txt_size_40,#B1,#B2{font-size: 40px;}
.Tools_txt_size_30,.topic{font-size: 30px;}
.Tools_txt_size_25, #A, #K, {font-size: 25px;}
.Tools_txt_size_20,#B4,#B5{font-size: 20px;}
.Tools_txt_size_18,#B3{font-size: 18px;}
.Tools_txt_size_16{font-size: 16px;}
.Tools_txt_size_14{font-size: 14px;}
.Tools_txt_size_12{font-size: 12px;}
.Tools_txt_ssize_10{font-size: 10px;}

/*цвет текста*/
/*белый*/
.Tools_txt_color_1,#A,#K,#b4{color: #FFF;}
/*серый*/
.Tools_txt_color_2, #B3, #B4, #B5{color: #737373;}
/*черно-синий*/
.Tools_txt_color_3, .topic,#B1,#B2{color: #2c384a;}

.Tools_txt_bold,.topic,#B1,#B2{font-weight: bold;}
.Tools_txt_bold_clear{font-weight: normal}
.Tools_txt_bold_100{font-weight: 100}
.Tools_txt_bold_500{font-weight: 500}
.Tools_txt_bold_700{font-weight: 700}

/*заглавные строчне буквы*/
.Tools_txt_transform_shift, .topic {text-transform: uppercase;}

/*центровка текста*/
.Tools_txt_cntr, #K, .topic,#B1,#B2,#B3{text-align: center;}
.Tools_txt_jst {text-align: justify;}
/*центровка блоков*/
.Tools_block_cntr{margin: 0 auto;}
/*задний фон блоков*/
.Tools_block_background_1, #A, #K {background: rgb(52, 64, 81);}

/*плавающий блок*/
.Tools_block_float_left, #A li, #A1{float: left;}
.Tools_block_float_right {float: right;}
.Tools_block_float_clear {clear: both;}


/*фиксированные блоки (банеры)*/
.Tools_block_fixed {position: fixed;}
/*растянуть на весю ширину*/
.Tools_block_fixed_widen, #A, #K{position: fixed; left: 0; right: 0;}
.Tools_block_fixed_bottom, #K{position: fixed; bottom: 0;}
.Tools_block_fixed_bottom, #A{position: fixed; top: 0;}

/*обрезка блока*/
.Tools_block_overflow, #A, #K{overflow: hidden;}


/*скругление блока*/
.Tools_block_rads_10{border-radius: 10%;}
.Tools_block_rads_50{border-radius: 50%;}

.Object_pase_block{height: 70px;}







